// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.error-404-content {
    margin-top: 0;
    .title {
        font-size: 65px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 25px;
    }
    .sub-title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .error-button {
        margin-top: 30px;
        border: 1px solid $borderColor;
        transition: all .5s ease;
        padding-left: 50px;
        padding-right: 50px;
        height: 70px;
        line-height: 70px;
        border-radius: 35px;
        font-size: 15px;
        text-align: center;
        position: relative;
        z-index: 9;
        overflow: hidden;
        color: #fff;
        box-shadow: none!important;
        outline: 0!important;
        display: inline-block;
        i {
            padding-right: 10px;
        }
        &:hover {
            background-color: $borderColor;
        }
    }
}