// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.faq-list-single-item {
    padding: 60px 55px;
    flex-direction: row;
    background: #252734;
    border: 1px solid #252734;
    display: flex;
    margin-bottom: 30px;
    transition: all .5s ease;
    &:hover {
        background: #2a2c39;
        border-color: rgba(255,255,255,.1);
        .number {
            background: #252734;
        }
    }
    .number {
        margin-right: 60px;
        margin-bottom: 0;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        background: #2a2c39;
        color: #fff;
        font-weight: 500;
        transition: all .5s ease;
    }
    .content {
        width: calc(100% - 180px);
        .title {
            font-size: 24px;
            font-family: Poppins,sans-serif;
            font-weight: 500;
            line-height: 1.2;
            margin-top: -5px;
            margin-bottom: 20px;
        }
    }
}

// RESPONSIVE 

@include breakpoint-max(767px){
    .faq-list-single-item {
        flex-direction: column;
        gap: 40px;
        .content {
            width: 100%;
        }
    }  
    .pagination-nav-list li {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }  
}