// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.service-details--box {
    position: relative;
    z-index: 2;

    .service-content-section {
        .content-hero-image {
            margin-bottom: 65px;
        }
    }
}

@include breakpoint-max(1199px) {
    .service-details--box {
        .row {
            flex-direction: column-reverse;
            gap: 50px;
        }
    }
}