// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Carousel CSS

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.service-carousel {
    .owl-nav.disabled+.owl-dots {
        margin-top: 50px;
    }

    .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 0px 20px 0px 0px;
    }

    .owl-dots .owl-dot span {
        background: #4f4f4f;
    }

    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #ffffff;
    }
}

.project-carousel {
    .owl-nav {
        margin-top: 0px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-200px, -258px);

        button.owl-prev {
            width: 85px;
            height: 85px;
            border: 1px solid #858792;
            border-radius: 50%;

            span {
                display: none;
            }
        }

        button.owl-next {
            width: 85px;
            height: 85px;
            border: 1px solid;
            border-radius: 50%;

            span {
                display: none;
            }
        }
    }
}

.testomonial-carousel {
    .owl-nav {
        margin-top: 0px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(161px, -155px);

        button.owl-prev {
            width: 85px;
            height: 85px;
            border: 1px solid #858792;
            border-radius: 50%;
            margin: 0 20px 0 0;

            span {
                display: none;
            }
        }

        button.owl-next {
            width: 85px;
            height: 85px;
            border: 1px solid;
            border-radius: 50%;
            margin: 0;

            span {
                display: none;
            }
        }
    }
}

// RESPONSIVE

@include breakpoint-max(1199px) {
    .project-carousel {
        .owl-nav {
            transform: translate(-142px, -185px);
            button {
                &.owl-prev {
                    width: 65px;
                    height: 65px;
                }
                &.owl-next {
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }
    .testomonial-carousel {
        &.owl-carousel.owl-drag .owl-item{
            // margin-right: 80px !important;
        }
        
        .owl-nav {
            margin-top: 40px;
            position: initial;
            // top: 0;
            // left: 0;
            transform: translate(0, 0);
    
            button.owl-prev {
                width: 65px;
                height: 65px;
            }
    
            button.owl-next {
                width: 65px;
                height: 65px;
            }
        }
    }
}

@include breakpoint-max(991px){
    .project-carousel .owl-nav {
        transform: translate(-85px, -170px);
    }
}

@include breakpoint-max(767px){
    .project-carousel .owl-nav {
        transform: translate(-490px, -81px);

        button{
            &.owl-prev {
                width: 45px;
                height: 45px;
            }
            &.owl-next {
                width: 45px;
                height: 45px;
            }
        }
    }
    .testomonial-carousel {
        &.owl-carousel.owl-drag .owl-item{
            // margin-right: 80px !important;
        }
        
        .owl-nav {
            button.owl-prev {
                width: 45px;
                height: 45px;
            }
    
            button.owl-next {
                width: 45px;
                height: 45px;
            }
        }
    }
}

@include breakpoint-max(575px) {
    .project-carousel .owl-nav {
        transform: translate(-437px, -81px);
    }
}