// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.breadcrumb-shape-top-left {
    visibility: visible;
    opacity: 1;
    top: -475px;
    left: -590px;
    position: absolute;
    width: 800px;
    height: 800px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;

    &::before {
        position: absolute;
        content: "";
        width: 935px;
        height: 935px;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        top: -70px;
        left: -70px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 1065px;
        height: 1065px;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        top: -140px;
        left: -140px;
    }
}

.breadcrumb-shape-bottom-right {
    visibility: visible;
    opacity: 1;
    bottom: -475px;
    right: -590px;
    position: absolute;
    width: 800px;
    height: 800px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;

    &::before {
        position: absolute;
        content: "";
        width: 935px;
        height: 935px;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        bottom: -70px;
        right: -70px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 1065px;
        height: 1065px;
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        bottom: -140px;
        right: -140px;
    }
}

.breadcrumb-box {
    padding-top: 225px;
    padding-bottom: 130px;

    .breadcrumb-content {
        text-align: center;

        .title {
            font-size: 75px;
        }

        .breadcrumb-link {
            margin-top: 20px;
            padding: 20px 40px;
            border-radius: 30px;
            background: #2a2c39;
            display: inline-flex;

            li {
                font-size: 16px;
                position: relative;
                font-weight: 300;
                &::after {
                    position: absolute;
                    content: "||";
                    left: calc(100% + 10px);
                    visibility: visible;
                }
                &:last-child::after {
                    visibility: hidden;
                }   
                &:not(:last-child){
                    margin-right: 30px;
                }             
            }

        }
    }
}