// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Add styles here

.section-header {
    margin-bottom: 100px;

    .subtitle {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 25px;
        color: $secondaryColor;

        span {
            padding-right: 25px;
        }
    }

    .title {
        font-size: 70px;
        // font-weight: 700;
        color: $primaryColor;
        font-family: "Cormorant Garamond", serif;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .content-meta {
        color: $secondaryColor;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: Poppins,sans-serif;
        font-weight: 400;
        .section-tag {
            font-size: 18px;
            font-weight: 300;
            position: relative;
            display: inline-block;
            padding-left: 27px;

            &::before {
                position: absolute;
                content: "||";
                top: 0;
                left: 0;
            }
        }

        .post-meta-2 {
            margin-bottom: 0;

            span {
                margin-right: 45px;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }

    .content-meta>* {
        margin-bottom: 10px;
    }
}


// all pages main header

.main {
    &-header {
        position: relative;

        &-shape {
            &-left {
                visibility: visible;
                opacity: 1;
                top: -650px;
                left: -590px;
                position: absolute;
                width: 800px;
                height: 800px;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 50%;

                &::before {
                    position: absolute;
                    content: "";
                    width: 935px;
                    height: 935px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50%;
                    top: -70px;
                    left: -70px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 1065px;
                    height: 1065px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50%;
                    top: -140px;
                    left: -140px;
                }
            }

            &-right {
                visibility: visible;
                opacity: 1;
                bottom: -475px;
                right: -590px;
                position: absolute;
                width: 800px;
                height: 800px;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 50%;

                &::before {
                    position: absolute;
                    content: "";
                    width: 935px;
                    height: 935px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50%;
                    bottom: -70px;
                    right: -70px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 1065px;
                    height: 1065px;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50%;
                    bottom: -140px;
                    right: -140px;
                }
            }
        }
    }

    &-area {
        text-align: center;

        .title {
            font-size: 75px;
            font-weight: 400;
            font-family: "Cormorant Garamond", serif;
        }

        ul {
            margin-top: 20px;
            padding: 20px 40px;
            border-radius: 30px;
            background: #2a2c39;
            display: inline-flex;

            li {
                position: relative;
                font-weight: 300;
                font-size: 16px;

                span {
                    margin-right: 10px;
                    margin-left: 10px;
                }

            }

            .active {
                color: $secondaryColor;
            }
        }
    }
}

// RESPONSIVE

@include breakpoint-max(1199px) {
    .section-header {
        margin-bottom: 60px;
        .title {
            margin-bottom: 0;
        }
    }
}

@include breakpoint-max(991px) {
    .section-header {
        margin-bottom: 40px;
        .title {
            font-size: 50px;
            // margin-bottom: 30px;
        }
    }    
}

@include breakpoint-max(767px) {
    .section-header {
        margin-bottom: 30px;
        .title {
            font-size: 39px;
        }
        .content-meta .post-meta-2 span {
            margin-right: 15px;
        }
    }  
}

@include breakpoint-max(575px) {
    .section-header .title {
        font-size: 36px;
    }
}