// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.sidebar-widget-single-area {
    margin-bottom: 80px;
    padding: 60px 50px 75px 50px;
    background: #252734;

    .title {
        font-size: 48px;
        margin-bottom: 45px;
        color: #fff;
        font-weight: 400;
    }

    .widget-nav-list {
        li {
            display: block;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            a {
                padding: 20px 30px;
                background: #2a2c39;
                color: #fff;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                transition: all .2s ease;

                &:hover {
                    background: #fff;
                    color: #252734;

                    .text {
                        transform: translateX(30px)
                    }

                    .icon {
                        position: absolute;
                        left: 0;
                        transform: translateX(30px)
                    }
                }

                .text {
                    display: inline-block;
                    transition: all .5s ease;
                }

                .icon,
                .widget-nav-list li a .text {
                    display: inline-block;
                    transition: all .5s ease;
                }
            }
        }
    }

    .recent-blog-item-list{
        li {
            display: flex;
            align-items: center;
            margin-bottom: 35px;

            .image{
                width: 70px;
                height: 70px;
                overflow: hidden;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .content {
                width: calc(100% - 70px);
                padding-left: 25px;
                .title {
                    font-size: 22px;
                    margin-bottom: 15px;
                    font-weight: 700;
                    line-height: 1.27;
                    a {
                        color: #fff;
                    }
                }
                .post-meta {
                    color: $secondaryColor;
                }
            }
        }
    }

    .social-link {
        display: flex;
        gap: 20px;
        a {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            display: block;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            border: 1px solid #fff;
            background: #252734;
        }
    }
}